




main {
    background-image: url("images/header.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1296px auto;
}


.header {
    height: 240px;
}
.header div{
    padding: 170px 0 0 305px;
    font-size: 50px;
    color: #222244;
}


.navbar{
    padding-left: 410px;
}

/*
.foot-left, 
.footer-right{

}
*/

.main-content img {
    border: #222244 2px solid;
    border-radius: 2px;
    margin: 10px;
    text-align: center;
}


.footer-right{
    text-align: right;
}