

html, body {
    background-color: #eceffb;
}


main {
    background-image: url("images/header.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1296px auto;
}


.header {
    height: 240px;
}
.header div{
    padding: 170px 0 0 305px;
    font-size: 50px;
    color: #222244;
}


.navbar{
    padding-left: 300px;
}

#navbar_cpe {
    background-color: #fff;
    
    font-size: 20px;
    border-radius: 6px;
}
#navbar_cpe a {
    color: #222244 !important;
}

/*
.foot-left, 
.footer-right{

}
*/
.main-content{
    font-size: 18px;
}
.main-content img {
    border: #222244 2px solid;
    border-radius: 2px;
    margin: 10px;
    text-align: center;
    clear: both;
}
.main-content a{
    color: #222244;
}
.main-content hr{
    margin: 20px 0px !important;
    border: 0 !important;
    opacity: 1 !important;
    height: 2px !important;
    background: rgba(22, 22, 44, 0.2) !important;
}
.main-content h1{
    margin-top: 20px;
}

footer{
    clear: both;
}

footer > div.container{
    border-top: rgba(22, 22, 44, 0.2) 2px solid;
}

.footer-mid{
    text-align: center;
    font-size: 12px;
}
.footer-right{
    text-align: right;
}


@media (max-width: 1400px) { 
    .header > div > span{
        display: none;
    }
    .header div,
    .navbar{
        padding-left: 200px;
    }
}

@media (max-width: 1200px) { 
    .header > div > span{
        display: none;
    }
    .header div,
    .navbar{
        padding-left: 130px;
    }
}

@media (max-width: 992px) { 
    /* at this point the mobile menu displays */
    .header > div > span{
        display: none;
    }
    .header div,
    .navbar{
        padding-left: 0;
    }
    .navbar-toggler,
    #navbar_cpe {
        background-color: #fff;
    }
}

@media (max-width: 768px) { 
    main{
        background-size: 100%;
    }
    .header  {
        height: auto;
    }
    .header > div > span{
        display: none;
    }
    .header > div {
        font-size: 20px;
        padding-top: 130px;
    } 
}